body {
    /*J'applique une taille maximale*/
    max-width: 1400px;
    margin: auto;
    padding: 0;
    /*J'applique la couleur principale de fond de ma page*/
    background-color: white;
    /*Je définis la façon dont la hauteur et largeur sont calculées*/
    box-sizing: border-box;
    /*border-box implique que la bordure est prise en compte dans le calcul de dimensions*/
    /*J'applique mon style de police personnalisé pour ma page web*/
    font-family: 'Montserrat', sans-serif;
}

* {
    list-style: none;
    /*aucun style de liste = aucunes puces */
    text-decoration: none;
    /*aucune décoration de texte*/
}

.header-flex {
    display: flex;
    /* j'applique un espace */
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-wrap: wrap;

}

nav ul li {
    /* je place et espace mes boutons de navbar */
    margin-top: 3rem;
    margin-left: 1rem;
}

.navlinks-container a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #252a30;
    display: inline-block;
    position: relative;
}

.navlinks-container a:hover {
    color: #f47d2e;
}

.navlinks-container a::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #f47d2e;
    transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {

    transform: scaleX(1)
}

section {
    background-color: #e6dede;
    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 5px;
}

.title-section-articles {
    text-align: center;
    color: #f47d2e;
    text-transform: uppercase;
    font-weight: 700;
}

.articles-flex {
    display: flex;
    justify-content: space-between;
}

.articles-flex img {
    width: 300px;
}

.articles img {
    border-radius: 10%;
}

.articles i {
    color: #f47d2e;
}

.title-dawnfm {
    color: #252a30;
    font-weight: 700;
    text-align: left;
}

.title-twelvecarattoothache {
    color: #252a30;
    font-weight: 700;
    text-align: left;
}

.title-ineverlikedyou {
    color: #252a30;
    font-weight: 700;
    text-align: left;
}

.article-left-description {
    text-align: left;
}

.article-left-description p {
    color: #252a30;
    font-weight: 400;
}

.article-left-description span {
    font-weight: 700;
}

.article-center-description {
    text-align: left;
}

.article-center-description p {
    color: #252a30;
    font-weight: 400;
}

.article-center-description span {
    font-weight: 700;
}

.article-right-description {
    text-align: left;
}

.article-right-description p {
    color: #252a30;
    font-weight: 400;
}

.article-right-description span {
    font-weight: 700;
}

article {
    background-color: white;
    padding: 0.5rem;
    border-radius: 25px;
    margin: 0.5rem 3rem;
    min-width: 300px;
    box-sizing: border-box;
    width: 30%;
}

.divbutton {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.plusdinfo {
    visibility: hidden;
    border: 1px #f47d2e solid;
    border-radius: 5px;
    padding: 3px;
    color: #252a30;
    font-size: small;
}

.plusdinfo:hover {
    border: none;
    color: #f47d2e;
}

.footer {
    margin-top: 1rem;
    width: auto;
    display: flex;
    justify-content: space-around;
    background-color: #e6dede;
    padding: 5px 0 5px 0;
    border-radius: 10px;
}

.footer div {
    padding: 5px 0 5px 0;
}

.footer i {
    font-size: 20px;
    color: #252a30;
}

.footer i span {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.footer i:hover {
    color: #f47d2e;
}